body
        {
            margin: 0px;
            background-image: url("Images/PurpleGalaxy.webp");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
        
        h1, h2, p
        {
            color:white;
            font-family: "Tomorrow", "consolas", "sans-serif";
            font-style: italic;
            font-weight: bold;
            text-decoration: pink underline;
            font-size: 28px;
        }

        p
        {
            background-color: blueviolet;
        }

        #p2
        {
            background-color: rgb(43, 226, 101);
            color: rgb(132, 11, 11);
        }

        #p3
        {
            background-color: rgb(226, 180, 43);
            color: rgb(7, 91, 164);
        }

        .even
        {
            font-size: larger;
        }

        .odd
        {
            font-size: xx-small;
        }

        #hOne
        {
            border-style: groove;
            border-width: 5px;
            border-color: rgb(0, 221, 255);
            border-radius: 15px;
        }

        #hTwo
        {
            border-top-style: dotted;
            border-bottom-style: double;
            border-left-style: ridge;
            border-right-style: outset;
            border-width: 5px;
            padding: 10px;
        }

        #box1
        {
            border: 5px solid;
            width: 250px;
            height: 250px;
            font-size: 20px;
            background: rgb(255, 65, 182);
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: auto;
        }

        #box2
        {
            border: 5px solid;
            width: 250px;
            height: 250px;
            font-size: 20px;
            background: rgb(227, 65, 255);
            margin-bottom: 50px;
        }

        #box3
        {
            border: 1px solid;
            height: 300px;
            width: 300px;
            background-color: skyblue;

            position: fixed;

            top: 50px;
            left: 50px;
        }

        #box4
        {
            border: 1px solid;
            height: 100px;
            width: 100px;
            background-color: red;

            position: absolute;

            top: 100px;
            left: 100px;
        }